games/FNaFB1/Save*.rvdata2
games/FNaFB2/Save*.rvdata2
worlds/*.apworld
worlds/fnafb1/.vs/fnafb1/v17/.wsuo
worlds/fnafb1/.vs/fnafb1/v17/DocumentLayout.json
worlds/fnafb1/.vs/ProjectSettings.json
worlds/fnafb1/.vs/slnx.sqlite
worlds/fnafb1/.vs/VSWorkspaceState.json
